<!--
  Generated template for the AtividadesViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-buttons left>
            <button ion-button (click)="navCtrl.pop()">
              <ion-icon name="arrow-back"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col text-center>
          <ion-title>Visualizar Atividade</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="atividade!=null">
    <div class="app-header">
      <h2>Visualizar a <strong>atividade</strong></h2>
    </div>
    <p>
      <strong>Status</strong><br>
      <ion-badge color="ticket_pending" *ngIf="atividade.status == 'Pendente'">Pendente</ion-badge>
      <ion-badge color="ticket_doing" *ngIf="atividade.status == 'Fazendo'">Fazendo</ion-badge>
      <ion-badge color="ticket_done" *ngIf="atividade.status == 'Feito'">Feito</ion-badge>
      <ion-badge color="ticket_finish" *ngIf="atividade.status == 'Concluido'">Concluído</ion-badge>
    </p>
    <p>
      <strong>Quarto</strong><br>
      {{ atividade.room.number }}
    </p>
    <p>
      <strong>Serviço</strong><br>
      {{ atividade.service }}
    </p>
    <p>
      <strong>Camareira responsável</strong><br>
      {{ atividade.camareira }}
    </p>
    <p>
      <strong>Solicitado (data e hora)</strong><br>
      {{ atividade.created.date }} {{ atividade.created.time }}
    </p>
    <p *ngIf="atividade.consum.length > 0">
      <strong>Consumo</strong><br>
      <span style="display: block;" *ngFor="let product of atividade.consum">
        {{ product.count }}x {{ product.name }}
      </span>
    </p>
    <p *ngIf="atividade.manutencao != null">
      <strong>Manutenção</strong><br>
      {{ atividade.manutencao.description }}
    </p>
    <p *ngIf="atividade.lavanderia != null">
      <strong>Lavanderia</strong><br>
      {{ atividade.lavanderia.description }}
    </p>
    <div *ngIf="atividade.status == 'Pendente'">
      <button ion-button block round color="secondary" (click)="clickChangeStatus2Doing()">
        <ion-icon name="play" style="margin-right: 5px;"></ion-icon> 
        Iniciar atividade
      </button>      
    </div>
    <div *ngIf="atividade.status == 'Feito'">
      <button ion-button block round color="secondary" (click)="clickChangeStatus2Finish()">
        <ion-icon name="checkmark-circle" style="margin-right: 5px;"></ion-icon> 
        Concluir atividade
      </button>      
    </div>
    <div *ngIf="atividade.status == 'Fazendo'">
      <button *ngIf="atividade.consum == null || atividade.consum.length == 0" ion-button block round color="primary" outline (click)="click2ConsumoAdd()">
        Adicionar consumo
      </button>
      <button *ngIf="atividade.manutencao == null ||  atividade.manutencao.length == 0" ion-button block round color="primary" outline (click)="click2ManutencoesAdd()">
        Solicitar manutenção
      </button>
      <button *ngIf="atividade.lavanderia == null || atividade.lavanderia.length == 0" ion-button block round color="primary" outline (click)="click2LavanderiaAdd()">
        Solicitar lavanderia
      </button>
      <button ion-button block round color="secondary" (click)="clickChangeStatus2Done()">
        Finalizar atividade
      </button>
    </div>
  </div>
</ion-content>
